doctype html

html
	
	head
		
		include sanskriti-meta.pug

	body

		include sanskriti-header.pug

		section.sanskriti-container

			div.sanskriti-row

				div.sanskriti-column 


		include sanskriti-footer.pug

		