doctype html

html
	
	head
		
		include sanskriti-meta.pug

	body

		include sanskriti-header.pug

		section.sanskriti-container

			div.sanskriti-row

				div.sanskriti-column

					h1.sanskriti-text.heading Welcome

					p.sanskriti-text.paragraph 
						| Sanskriti School is a public service oriented, non-profit organization, with the spouse of the serving Cabinet Secretary as its chairperson.

					p.sanskriti-text.paragraph 
						| The Mission of the School is to provide the right inputs to help the children grow up into caring and sharing individuals, equipped to make the right choices in life &amp; grow up to be responsible citizens of the country &amp; the world.

					p.sanskriti-text.paragraph
						| The school's motto 'Knowledge is Liberation' is the cornerstone around which the character and personality of every child is built. The Society visualises an educational system based on the four basic tenets : universal values, excellence in all things, global understanding by viewing diversity as an asset, and service to humanity.

		include sanskriti-footer.pug

		