section.sanskriti-header

	div.sanskriti-banner

		img.sanskriti-banner-logo(src="" alt="")
		h1.sanskriti-banner-title Sanskriti School

	div.sanskriti-nav

		div.sanskriti-nav-primary

			a.sanskriti-primary-link About
			a.sanskriti-primary-link Curriculum
			a.sanskriti-primary-link Admissions
			a.sanskriti-primary-link Vacancy
			a.sanskriti-primary-link Tenders
			a.sanskriti-primary-link Login
