section.sanskriti-header

	div.sanskriti-brand

		img.sanskriti-media(src="" alt="")
		h1.sanskriti-text.heading Sanskriti School

	div.sanskriti-nav.primary

		div.sanskriti-nav-list

			a.sanskriti-list-item(href="#") About
			a.sanskriti-list-item(href="#") Curriculum
			a.sanskriti-list-item(href="#") Admissions
			a.sanskriti-list-item(href="#") Vacancy
			a.sanskriti-list-item(href="") Tenders
			a.sanskriti-list-item(href="") Login

	div.sanskriti-nav.secondary(active="false")

		div.sanskriti-nav-list#about(active="false")

			a.sanskriti-list-item(href="") History
			a.sanskriti-list-item(href="") Objectives
			a.sanskriti-list-item(href="") Mission
			a.sanskriti-list-item(href="") Managing Committee
			a.sanskriti-list-item(href="") PTA
			a.sanskriti-list-item(href="") Principal
			a.sanskriti-list-item(href="") Incharges
			a.sanskriti-list-item(href="") Staff
			a.sanskriti-list-item(href="") Counselling
			a.sanskriti-list-item(href="") Clubs
			a.sanskriti-list-item(href="") Houses
			a.sanskriti-list-item(href="") Student Council
			a.sanskriti-list-item(href="") Umang
			a.sanskriti-list-item(href="") Contractual Workmen
			a.sanskriti-list-item(href="") School Information
			a.sanskriti-list-item(href="") RTI Information

		div.sanskriti-nav-list#curriculum(active="false")

			a.sanskriti-list-item(href="") Early Child Development
			a.sanskriti-list-item(href="") Junior School
			a.sanskriti-list-item(href="") Middle School
			a.sanskriti-list-item(href="") Senior School
			a.sanskriti-list-item(href="") Learning Center
			a.sanskriti-list-item(href="") Smart Skills

		div.sanskriti-nav-list#admissions(active="false")

			a.sanskriti-list-item(href="") Fee Structure
			a.sanskriti-list-item(href="") Enrollment
			a.sanskriti-list-item(href="") Nursery Enrollment
			a.sanskriti-list-item(href="") Class IX Enrollment
			a.sanskriti-list-item(href="") Class XI Enrollment
			a.sanskriti-list-item(href="") Dropout Certificate

		div.sanskriti-nav-list#vacancy(active="false")

			a.sanskriti-list-item(href="") Campus
			a.sanskriti-list-item(href="") Library
			a.sanskriti-list-item(href="") Canteen
			a.sanskriti-list-item(href="") Amphitheatre
			a.sanskriti-list-item(href="") Administration Block
			a.sanskriti-list-item(href="") Sports Facilities
			a.sanskriti-list-item(href="") Art Block
			a.sanskriti-list-item(href="") Classrooms
			a.sanskriti-list-item(href="") Laboratories
			a.sanskriti-list-item(href="") Transport
			a.sanskriti-list-item(href="") Infirmary


