@charset "utf-8"

html, body
	height 1000%
	width 100%
	
*
	padding 0
	margin 0
	position relative
	box-sizing border-box
	text-rendering optimizeLegibility
	text-rendering geometricPrecision
	font-smooth always
	font-smoothing antialiased
	-moz-font-smoothing antialiased
	-webkit-font-smoothing antialiased
	-webkit-font-smoothing subpixel-antialiased
	-moz-osx-font-smoothing grayscale

a
	&:link, &:visited, &:hover, &:visited:hover, &:focus
		text-decoration none

@import typography
@import variables
@import sanskriti-header
@import sanskriti-carousel
@import sanskriti-container
@import sanskriti-text
@import sanskriti-card
// @import sanskriti-media
@import sanskriti-list
@import sanskriti-table
@import sanskriti-footer
